html{
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #b3e6ff;
}

.box{
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

#heading{
  background-color: #80ccff;
  margin: 40px auto;
  text-align: center;
  font-size: 20px;
}

#heading h1{
  color: #fff;
}

.item{
  min-height: 70px;
  border-bottom: 1px solid #F1F1F1;
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: inherit;
}

input[type="checkbox"] {
  margin: 20px;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: black;
}

input[type="text"] {
  text-align: center;
  height: 50px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

button[name="addOne"] {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #80ccff;
  color: #fff;
  font-size: 30px;
  padding: 6px;
  border-width: 0;
  margin: 10px;
}

::placeholder{
  font-family: 'Merriweather Sans', sans-serif;
}

.refreshButton{
  text-align: center;
}

.refreshButton button{
  background-color: #80ccff;
  width: 200px;
  margin: 20px auto;
  text-align: center;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  border-color: transparent;
  font-family: inherit;
}

body{
  background-color: inherit;
}

.container{
  text-align: center;
}

.card{
  background-color: #80ccff;
  max-width: 400px;
  margin: 10px auto;
}

.col-sm-8{
  text-align: center;
  margin: 10px auto;
}

.warn-msg{
  color: red;
}

.jumbotron{
  background-color: inherit;
}

.lead{
  margin: 50px auto;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2rem;
}

.btn{
  width: 150px;
}

.nav-bar{
  text-align: left;
  margin: 10px;
}
.exit-btn{
  background-color: #00aaff;
  width: 100px;
  margin: 10px auto;
  text-align: center;
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 5px;
  border-color: transparent;
  font-family: inherit;
}
